/* ChatItem.css */
.chat-item {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem 0.3rem;
  gap: 0.7rem;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 8px;
}

.chat-item:hover {
  background-color: #f5f5f5;
}

.chat-item.active {
  background-color: #e6f7f6;
}

.chat-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow: hidden;
}

.chat-name-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-name {
  font-weight: 600;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat-time {
  font-size: 11px;
  color: #999;
  flex-shrink: 0;
}

.chat-last-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-last-message span:first-child {
  font-size: 13px;
  color: #00bba7;; /* this is the last message color */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat-unread {
  background-color: #00bba7;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 0 6px;
  border-radius: 12px;
  min-width: 18px;
  text-align: center;
  margin-left: 0.5rem;
}
