.chat-item {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  cursor: pointer;
  border-radius: 8px;
}

.chat-item:hover {
  background-color: hsla(120, 5%, 92%, 0.836);
}

.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;

}

.chat-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.chat-name {
  font-weight: 500;
}

.chat-time {
  font-size: 12px;
  color: #888;
}

.chat-message {
  font-size: 14px;
  color: #555;
  display: flex;
  justify-content: space-between;
}

.chat-unread {
  background-color: #00bba7;
  color: white;
  border-radius: 5px;
  padding: 0 6px;
  font-size: 12px;
  margin-left: 0.5rem;
}
