.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0fdf6;
}

.login-container {
  background-color: #ffffff;
  padding: 2rem;
  width: 25rem;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

}

.app-title {
  font-size: 0.8rem;
  color: #00786f;
  margin: 0;
}

.app-subtitle {
  color: #515c6b;
  font-size: 0.8rem;
}

.quick-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;   
  margin-bottom: 1rem;
}

.circle-warp{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #00bba7;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-bottom: 1rem;
}



.logo-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;

}

.login-box {
  display: flex;
  flex-direction: column;
}

.login-box label {
  font-size: 0.7rem;
  font-weight: bold;
  color: #141414;
}

.login-input {
  border-radius: 0.4rem;
  border: none;
  outline: none;
  padding: 0.4rem;
  margin-bottom: 1.2rem;
  background-color: #f3f3f5;

}



.login-input::placeholder {
  font-size: 0.8rem;

}

.login-input:focus {
  box-shadow: 0 0 6px rgba(139, 140, 140, 0.5);
}

.login-button {
  padding: 0.4rem;
  border: none;
  border-radius: 6px;
  background-color: #00bba7;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 10px;
}


.login-button:hover {
  background-color: #247870;
}