/* ConversationArea.css */
.conversation-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  background-color: #f9fafb;
  border-left: 1px solid #ddd;
  /* height: 100%;  */
}
.no-chat-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* makes it take the full height of conversation area */
  width: 100%;
}

.no-chat-text {
  font-size: 18px;
  color: #666;
}


.conversation-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem;
  border-bottom: 1px solid #ddd;
  background: #ffffff;
}

.conversation-header h4 {
  font-size: 1rem;
}

.chat-header-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.chat-status {
  font-size: 0.7rem;
  color: #00bba7;
}

.chat-body {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background: #f5f5f5;
  display: flex;
  flex-direction: column; 
  gap: 0.5rem;
}

.message {
  max-width: 65%;
  padding: 0.6rem 1rem;
  border-radius: 18px;
  font-size: 0.95rem;
  line-height: 1.4;
  word-wrap: break-word;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  display: inline-block;
}

.message.received {
  background: #ffffff;
  align-self: flex-start;
  border-top-left-radius: 4px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.message.sent {
  background: #00bba7;
  align-self: flex-end;
  border-top-left-radius: 18px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  color: white;
}

.message-time {
  display: block;
  font-size: 0.7rem;
  color: #6a7282;
  margin-top: 0.2rem;
  text-align: right; 
}

.chat-footer {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  gap: 0.6rem;
  border-top: 1px solid #ddd;
  background: #fff;
}

.chat-footer input {
  flex: 1;
  padding: 0.6rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.footer-btn {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}
