.personal-settings {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.personal-settings h6 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.personal-settings label {
  font-size: 0.9rem;
  font-weight: 400;
}

.custom-select {
  position: relative;
  width: 100%;
}

/* Select Box */
.select-box {
  padding: 0.6rem 0.8rem;
  background: #f3f3f5;
  border-radius: 8px;
  /* border: 1px solid #dcdcdc; */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Arrow Icon */
.arrow-icon {
  font-size: 0.8rem;
  color: #b2b2bc;
}

/* Options Dropdown */
.select-options {
  position: absolute;
  width: 100%;
  margin-top: 4px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 10;
  overflow: hidden;
}

/* Each Option */
.option {
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid #f1f1f1; */
}

.option:last-child {
  border-bottom: none;
}

/* Hover effect */
.option:hover {
  background: #f5f5f5;
}

/* Checkmark icon next to selected option */
.check-icon {
  color: #b2b2bc;
  font-size: 0.9rem;
}



